body {
    font-family: 'Raleway', sans-serif;
    background-color: #efefef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 16px 20px;
    background-color: white;
    box-shadow: 0 8px 2px -4px rgba(0, 0, 0, 0.034);
}

.logo {
    font-size: 30px;
    font-weight: 800;
}

nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 16px;
}

a {
    font-weight: 600;
    text-decoration: none;
    padding: 8px;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
}

nav.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 100%;
  }

.nav-list a,
.nav-list a:after,
.nav-list a:before {
    transition: all .5s;
}

a:hover {
    color: #555;
}

.wrapper {
    margin: 0 40px 40px 40px;
    display: flex;
    gap: 24px;
}

main {
    width: 60%;
}

.gallery-container {
    display: grid;
    grid-template-areas:
        "photo photo photo"
        "photo photo photo"
        "pic1 pic2 pic3"
        "text1 text2 text3";
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.gallery-container img:nth-child(1) {
    grid-area: photo;
    max-width: 100%;
    object-fit: cover;
}

.gallery-container img:nth-child(2) {
    grid-area: pic1;
    max-width: 100%;
    object-fit: cover;
}

.gallery-container img:nth-child(3) {
    grid-area: pic2;
    max-width: 100%;
    object-fit: cover;
}

.gallery-container img:nth-child(4) {
    grid-area: pic3;
    max-width: 100%;
    object-fit: cover;
}

.gallery-container p:nth-child(1) {
    grid-area: text1;
}

.gallery-container p:nth-child(2) {
    grid-area: text2;
}

.gallery-container p:nth-child(3) {
    grid-area: text3;
}

section {
    width: 40%;
    display: grid;
    grid-template-areas:
        "text1 text1"
        "pic1 pic2"
        "text2 text3"
        "text2 pic3"
        "pic4 pic3";
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.p1 {
    grid-area: text1;
    max-width: 100%;
}

.p2 {
    grid-area: text2;
    max-width: 100%;
}

.p3 {
    grid-area: text3;
    max-width: 100%;
}

.pic1 {
    grid-area: pic1;
    max-width: 100%;
    object-fit: cover;
    min-height: 100%;

}

.pic2 {
    grid-area: pic2;
    max-width: 100%;
    object-fit: cover;
    min-height: 100%;
}

.pic3 {
    grid-area: pic4;
    max-width: 100%;
    object-fit: cover;
    min-height: 100%;
}

.pic4 {
    grid-area: pic3;
    max-width: 100%;
    object-fit: cover;
    background-size: cover;
    background-image: url('img/1749x2639x2.jpg');
}

footer {
    text-align: center;
    padding: 16px 0;
    background-color: white;
    margin-top: auto;
}

@media only screen and (max-width: 1000px) {
    body {
        width: 100%;
    }
    .wrapper {
        flex-direction: column;
    }

    main {
        width: 100%;
        margin-bottom: 40px;
    }

    section {
        width: 100%;
    }
}
